---
import { Icon } from 'astro-icon'
import Logo from '../atoms/Logo.astro'
import ToggleTheme from '../core/ToggleTheme.astro'
import ToggleMenu from '../core/ToggleMenu.astro'

// import { getPermalink, getBlogPermalink, getHomePermalink } from '../../utils/permalinks'
import { getMain } from '../../utils/menu'
import { Search } from '../core/Search'

const main = await getMain()
---

<header
  class="sticky top-0 z-50 flex-none md:border-b-2 overflow-clip border-black dark:border-white mx-auto w-full text-black dark:text-white dark:bg-blue-500 bg-cream"
>
  <div
    class="flex flex-col items-center justify-between md:grid grid-cols-4 lg:grid-cols-12 py-0 w-full md:justify-between"
  >
    <div
      class="md:border-b-0 h-full border-b-2 border-black col-start-1 col-span-2 w-full lg:col-span-1 flex justify-between"
    >
      <a
        class="w-16 flex h-full justify-center dark:bg-blue-500 dark:border-white bg-white dark:border-r-0 border-r-2 border-black items-center"
        href={main[0]?.url}
      >
        <span class="sr-only">Home</span>
        <Logo />
      </a>
      <div class="flex items-center col-start-3 md:hidden">
        <ToggleTheme class="px-2 py-1 button-sleek" />
        <ToggleMenu class="button-sleek px-2 py-1" />
      </div>
    </div>

    <nav
      class="lg:col-end-10 items-center w-full md:w-auto hidden md:flex dark:text-slate-200 h-screen md:h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="flex flex-col h-full pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base"
      >
        <li>
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={'/blog'}>Blog</a
          >
        </li>
        <li>
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={'https://journal.trialanderror.org'}>Journal</a
          >
        </li>
        <li class="md:hidden w-full h-12 self-end">
          <Search client:visible />
        </li>
      </ul>
      <div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
        <div class="hidden items-center md:flex">
          <ToggleTheme
            iconClass="w-5 h-5"
            class="button-sleek inline-flex items-center justify-center focus:ring-black dark:focus:ring-white"
          />
          <a
            class="text-black button-sleek focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-white text-sm inline-flex items-center"
            aria-label="RSS Feed"
            href="/rss.xml"
          >
            <Icon name="tabler:rss" class="w-5 h-5" />
          </a>
          <a
            href="https://github.com/journaloftrialanderror/centeroftrialanderror.com"
            class="inline-block focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-white rounded-lg text-sm button-sleek"
            aria-label="Center of Trial & Error Github"
          >
            <Icon name="tabler:brand-github" class="w-5 h-5" />
          </a>
        </div>
      </div>
    </nav>
    <div class="md:col-start-11 col-start-4 h-full hidden md:flex md:col-span-2">
      <Search client:visible />
    </div>
  </div>
</header>
