---
import { Icon } from 'astro-icon'
import Logo from '../atoms/Logo.astro'
import ToggleTheme from '../core/ToggleTheme.astro'
import ToggleMenu from '../core/ToggleMenu.astro'

// import { getPermalink, getBlogPermalink, getHomePermalink } from '../../utils/permalinks'
import { getMain } from '../../utils/menu'
import { Search } from '../core/Search'

const main = await getMain()
---

<header
  class="sticky top-0 z-50 flex-none md:h-14 border-b-2 overflow-clip border-black dark:border-white bg-white mx-auto w-full text-black dark:text-white dark:bg-slate-700"
>
  <div
    class="flex flex-col items-center h-full justify-between md:flex-row grid-cols-4 lg:grid-cols-12 py-0 w-full md:justify-between"
  >
    <div
      class="h-full dark:border-white border-black col-start-1 col-span-2 w-full lg:col-span-1 flex justify-between"
    >
      <a
        class="group w-16 md:w-20 md:p-4 p-2 bg-black flex h-full hover:fill-black hover:bg-orange-500 transition-colors !rounded-none justify-center dark:border-white dark:border-r-0 dark:!border-r-white !border-r-2 !border-r-black items-center"
        href={main[0]?.url}
      >
        <span class="sr-only">Home</span>
        <span class="h-8 w-8 md:h-14 md:w-14">
          <Logo />
        </span>
      </a>
      <div class="flex items-center col-start-3 mr-3 md:hidden">
        <!-- <ToggleTheme class="px-2 py-1 button-sleek" /> -->
        <ToggleMenu class="button-sleek px-2 py-1" />
      </div>
    </div>

    <nav
      class="lg:col-end-10 items-center md:text-2xl w-full md:gap-4 md:w-auto hidden md:flex dark:text-slate-200 h-screen md:h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="flex flex-col h-full pt-8 md:pt-0 md:px-0 px-4 md:flex-row md:self-center gap-8 md:gap-4 w-full md:w-auto collapsed text-lg md:text-xl"
      >
        <li>
          <a
            class="hover:text-gray-900 dark:hover:text-white flex sleek-underline items-center transition duration-150 ease-in-out"
            href={'/blog'}>Blog</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-900 sleek-underline dark:hover:text-white flex items-center transition duration-150 ease-in-out"
            href={'https://journal.trialanderror.org'}>Journal</a
          >
        </li>

        <li class="md:hidden">
          <a
            class="text-black button-sleek focus:outline-none dark:focus:ring-white flex font-medium gap-2 w-full items-center"
            aria-label="RSS Feed"
            href="/rss.xml"
          >
            <Icon name="tabler:rss" class="w-5 h-5" />
            RSS Feed
          </a>
        </li>
        <li class="md:hidden">
          <a
            href="https://github.com/journaloftrialanderror/centeroftrialanderror.com"
            class="flex font-medium items-center gap-2 focus:outline-none dark:focus:ring-white rounded-lg button-sleek"
            aria-label="Center of Trial & Error Github"
          >
            <Icon name="tabler:brand-github" class="w-5 h-5" />
            Source Code
          </a>
        </li>
        <li class="md:hidden w-full border-2 border-black justify-self-end h-12 self-end">
          <Search client:visible />
        </li>
      </ul>
      <div class="md:self-center md:mr-4 flex items-center mb-4 mx-2 md:mb-0 ml-2">
        <div class="hidden items-center md:flex">
          <!-- <ToggleTheme
            iconClass="w-6 h-6"
            class="button-sleek inline-flex items-center justify-center focus:ring-black dark:focus:ring-white"
          /> -->
          <a
            class="text-black button-sleek focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-white text-sm inline-flex items-center"
            aria-label="RSS Feed"
            href="/rss.xml"
          >
            <Icon name="tabler:rss" class="w-6 h-6" />
          </a>
          <a
            href="https://github.com/journaloftrialanderror/centeroftrialanderror.com"
            class="inline-block focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-white rounded-lg text-sm button-sleek"
            aria-label="Center of Trial & Error Github"
          >
            <Icon name="tabler:brand-github" class="w-6 h-6" />
          </a>
        </div>
      </div>
    </nav>
    <div class="md:col-start-11 ml-2 md:w-60 col-start-4 h-full hidden md:flex md:col-span-2">
      <Search client:visible />
    </div>
  </div>
</header>
