---
import { FaCreativeCommons, FaCreativeCommonsBy } from 'react-icons/fa/index'
---

<div class="card">
  <h2>License</h2>
  <span class="license">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <FaCreativeCommons />
      <FaCreativeCommonsBy />
    </a>
  </span>
  This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/"
    >Creative Commons Attribution 4.0 International License</a
  >.
</div>
