---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Headers',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Footers',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Features',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Call-to-Action',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Pricing',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:calculator',
	},
	{
		title: 'Testimonial',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:voice-presentation',
	},
];
---

<section className="relative">
	<div className="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div className="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div className="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div className="mb-8 text-center">
				<p className="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p>
				<h2 className="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Most used widgets
				</h2>
				<p className="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Provides frequently used components for building websites using Tailwind CSS
				</p>
			</div>
			<div className="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div className="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div className="flex items-center mb-4">
								<Icon name={icon} className="w-12 h-12" />

								<div className="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p className="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
