---
import { Icon } from 'astro-icon'
import Picture from '../../components/core/Picture.astro'
---

<section>
	<div className="max-w-6xl mx-auto px-4 sm:px-6">
		<div className="py-12 md:py-20">
			<div className="text-center pb-10 md:pb-16">
				<h1
					className="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
				>
					Your website with
					<span
						className="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500"
						>Astro</span
					> +
					<span
						className="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
						>Tailwind CSS</span
					>
				</h1>
				<div className="max-w-3xl mx-auto">
					<p className="text-xl text-gray-600 mb-8 dark:text-slate-400">
						AstroWind is a production ready template to start your new website using Astro +
						Tailwind CSS. It has been designed following Best Practices, SEO, Accessibility, <span
							className="inline sm:hidden">...</span
						><span className="hidden sm:inline"
							>Dark Mode, Great Page Speed, image optimization, sitemap generation and more.</span
						>
					</p>
					<div
						className="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
					>
						<div className="flex w-full sm:w-auto">
							<a
								className="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
								href="https://github.com/onwidget/astrowind"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:download" className="w-5 h-5 mr-1 -ml-1.5" /> Get template
							</a>
						</div>
						<div className="flex w-full sm:w-auto">
							<a
								className="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								href="#features">Learn more</a
							>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div className="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('../../assets/images/hero.jpg')}
						className="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
