@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --orange: #ffa500;
}
@layer base {
  h1 {
    font-family: "Overpass", sans-serif;
    @apply text-2xl;
  }
  h2 {
    font-family: "Overpass", sans-serif;
    @apply text-xl;
  }
  h3 {
    font-family: "Overpass", sans-serif;
    @apply text-lg;
  }
  a {
    @apply font-bold text-blue-600 hover:text-orange-600 focus:outline-none focus-visible:outline-orange-500;
  }

  button:focus {
    @apply outline-none;
  }

  .cia {
    padding-bottom: 0.2%;
    transition: background-size 0.6s ease-out;
    background: linear-gradient(var(--orange), var(--orange)) no-repeat left
      123%/0 50%;
  }
  .cia:hover {
    background-size: 100% 50%;
  }

  .cia-active {
    background-size: 100% 50%;
  }
}

html,
body {
  font-family: "Open Sans", sans-serif;
  @apply h-full;
}

#__next {
  @apply h-full;
}
