---
import '../assets/styles/base.css'

import MetaTags, { Meta } from '../components/core/MetaTags.astro'
import BasicScripts from '../components/core/BasicScripts.astro'
import Analytics from '../components/core/Analytics.astro'
import { SITE } from '../config.mjs'

interface Props {
  meta?: Meta
}
const {
  meta = {
    title: SITE.title,
    description: SITE.description,
  },
} = Astro.props
---

<!DOCTYPE html>
<html lang="en" className="motion-safe:scroll-smooth 2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
    <script
      is:inline
      defer
      data-domain="blog.trialanderror.org"
      src="/stats/js/script"
      data-api="/stats/api/event"
    ></script>
    <script async src="/va/script.js"></script>
  </head>

  <body
    className="selection:bg-salmon transition-colors selection:border selection:border-black selection:transition-all antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-800"
  >
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
