---
import Picture from '../../components/core/Picture.astro'

import { findPostsByIds } from '../../utils/posts'
import { findImage } from '../../utils/images'
import { getPermalink } from '../../utils/permalinks'
import type { BlogPost } from '../../utils/types'

const ids = [
	'get-started-website-with-astro-tailwind-css',
	'how-to-customize-astrowind-to-your-brand',
	'useful-resources-to-create-websites',
	'astrowind-template-in-depth',
]

const items = await Promise.all(
	(
		await findPostsByIds(ids)
	).map(async (item) => ({ ...item, image: await findImage(item.image) })),
)
---

<section className="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div className="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
		<h2
			className="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading"
		>
			<span className="inline-block mb-1 sm:mb-4"
				>Find out more content<br className="hidden md:block" /> in our Blog</span
			>
		</h2>

		<p className="text-gray-700 dark:text-slate-400 lg:text-sm lg:max-w-md">
			The blog will be used to display AstroWind documentation. Each new article will be an
			important step that you will need to know to be an expert in creating a website using Astro +
			Tailwind CSS The blog does not exist yet, but very soon. Astro is a very interesting
			technology. Thanks.
		</p>
	</div>

	<div className="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
		{
			items.map((post) => (
				<article className="mb-6 transition">
					<Picture
						src={post.image}
						className="mb-6 h-64 w-full rounded bg-gray-400 object-cover shadow-lg dark:bg-slate-700"
						widths={[400, 900]}
						sizes="(max-width: 900px) 400px, 900px"
						alt={post.title}
						aspectRatio="16:9"
					/>
					<h3 className="font-heading mb-2 text-xl font-bold leading-snug sm:text-2xl">
						<a
							href={getPermalink(post.slug, 'type')}
							className="hover:text-primary-600 underline decoration-dotted decoration-1 underline-offset-4 transition duration-200 ease-in"
						>
							{post.title}
						</a>
					</h3>
					<p className="text-gray-700 dark:text-gray-400">{post.excerpt || post.description}</p>
				</article>
			))
		}
	</div>
</section>
