---
import Item from '../../components/blog/ListItem.astro'
import type { BlogPost } from '../../utils/types'

const { posts } = Astro.props
---

<ul>
  {
    posts.map((post: BlogPost) => (
      <li className="mb-10 md:mb-16 card">
        <Item post={post} />
      </li>
    ))
  }
</ul>
