---
import { Image } from '@astrojs/image/components'
import TE from '../../assets/images/TE_logo_transp_background.svg'
---

<span
  class="dark:fill-black self-center font-overpass text-xl leading-none font-black text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- A Blog of <br />Trial & Error. -->
  <svg
    version="1.1"
    id="svg13"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 177 177.8"
    style="enable-background:new 0 0 177 177.8;"
    xml:space="preserve"
    class="group-hover:fill-black fill-white dark:fill-white h-full w-full"
  >
    <path
      id="path7"
      class="st0"
      d="M88.5,147.5c0-61.7,0-61.7,0-61.7c0-8.5,6.9-16.2,16.2-16.2l0,0c30.8,0,30.8,0,30.8,0
	c0,15.4,0,15.4,0,15.4c-23.1,0-23.1,0-23.1,0c-4.6,0-7.7,3.9-7.7,8.5c0,38.5,0,38.5,0,38.5c51.6,0,51.6,0,51.6,0
	c0,15.4,0,15.4,0,15.4H88.5V147.5z"
    ></path>
    <path
      id="path9"
      class="st0"
      d="M46.1,84.3L46.1,84.3c0-7.7,6.9-14.6,14.6-14.6c2.3,0,2.3,0,2.3,0c0,77.9,0,77.9,0,77.9
	c-17,0-17,0-17,0V84.3H46.1z"
    ></path>
    <path
      id="path11"
      class="st0"
      d="M58.4,46.5c-16.2,0-16.2,0-16.2,0c-21.6,0-21.6,0-21.6,0l0,0c0-9.3,6.9-16.2,16.2-16.2
	c119.5,0,119.5,0,119.5,0c0,15.4,0,15.4,0,15.4L58.4,46.5z"
    ></path>
  </svg>
</span>
