---
---

<span
  class="self-center font-overpass ml-2 text-xl leading-none font-black text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- A Blog of <br />Trial & Error. -->
  <img
    src="https://cote.azureedge.net/cote-strapi-uploads/assets/TE_logo_blue_background_b87382260b.svg"
    alt="TE logo"
    width="50"
    height="auto"
  />
</span>
