---
import type { BlogTag } from '../../utils/types'

interface Props {
  tags: BlogTag[]
  className?: string
}

const { tags, class: className = 'flex flex-wrap gap-x-1 text-sm' } = Astro.props
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li>
          <a
            class="mr-2 mb-2 inline-block button py-0.5 px-2 text-xs dark:bg-slate-700"
            href={`/tag/${tag.slug}`}
          >
            {tag.title}
          </a>
        </li>
      ))}
    </ul>
  )
}
