---
import type { BlogTag } from '../../utils/types'

interface Props {
  tags: BlogTag[]
  className?: string
}

const { tags, class: className = 'text-sm' } = Astro.props
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li class="mr-2 mb-2 inline-block bg-gray-100 py-0.5 px-2 text-xs dark:bg-slate-700">
          <a href={`/${tag.slug}`}>{tag.title}</a>
        </li>
      ))}
    </ul>
  )
}
