---
import type { BlogTag } from '../../utils/types'

interface Props {
  tags: BlogTag[]
  class?: string
}

const { tags, class: className = 'flex flex-wrap gap-x-1 text-sm' } = Astro.props
---

{
  tags && Array.isArray(tags) && (
    <ul class={className}>
      {tags.map((tag) => (
        <li>
          <a class="button shad mb-2 inline-block py-0.5 px-2  text-xs " href={`/tag/${tag.slug}`}>
            {tag.title}
          </a>
        </li>
      ))}
    </ul>
  )
}
